.main-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  z-index: 810;
  background-color: #222d32;
}

.sidebar-menu{
  background-color: #222d32;
  list-style: none;
}

.sidebar-menu .active > .treeview-menu {
    display: block;
  }